html {
    font-size: 10px;
}

body {
    /* background-color: #eeecd2; */
}

header {
    display: flex;
    border: 1px solid red;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: rgb(117, 117, 117);
}
.logo-space {
    width: 100px;
    height: 80px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
    height: 50px;
    border: 1px solid red;
    margin: 10px;
}


header nav {
    flex: 1 1 auto;
}

ul {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 10px;
    align-items: center;
}

.links-left {
    height: 80px;
    /* border: 1px solid red; */
}

.links-right {
    height: 80px;
    flex: 0 1 auto;
    /* border: 1px solid red; */
}

li {
    font-size: 2rem;
    /* border: 1px solid red; */
    list-style-type: none;
}

li input[class="search-bar"]{
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    padding: 0 15px;
    background-color: #fcd9d9;
}

main {
    display: flex;
}